// spacing variables
$spacing-01: 0.125rem;
$spacing-02: 0.25rem;
$spacing-03: 0.5rem;
$spacing-04: 0.75rem;
$spacing-05: 1rem;
$spacing-06: 1.25rem;
$spacing-07: 1.5rem;
$spacing-08: 2rem;
$spacing-09: 2.5rem;
$spacing-10: 3rem;
$spacing-11: 4rem;
$spacing-12: 5rem;
$spacing-13: 6rem;
$spacing-14: 8rem;
